<tr valign="top">
    <td class="text-center">{{ attribute.device_id }}</td>
    <td class="text-center">{{ attribute.temp_inside }}</td>
    <td class="text-center">{{ attribute.temp_outside_first }}</td>
    <td class="text-center">{{ attribute.temp_outside_second }}</td>
    <td class="text-center">{{ attribute.temp_outside_third }}</td>
    <td class="text-center">{{ attribute.temp_outside_fourth }}</td>
    <td class="text-center">{{ attribute.distance }}</td>
    <td class="text-center">{{ attribute.power }}</td>
    <td class="text-center">{{ attribute.pressure }}</td>
    <!--<td class="text-center">{{ attribute.speed }}</td>
    <td class="text-center">{{ attribute.temp_in }}</td>
    <td class="text-center">{{ attribute.temp_out }}</td>
    <td class="text-center">{{ attribute.temp_all }}</td>-->
    <td class="text-center">{{ attribute.timestamp }}</td>
</tr>