{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div calss="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i>Информация об пользователе #{{ user.username }}
                </div>
                <div class="card-body">    
                    {% if user == current_user %}
                        <p><a href="{{ url_for('edit_profile') }}">Редактировать данные</a></p>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h4>Пользователь: {{ user.username }}</h4>
                    <h4>Ф.И.О.: {{ user.name }}</h4>
                    <h4>Электронная почта: {{ user.email }}</h4>
                    <h4>Телефон: {{ user.phone_num }}</h4>
                    {% if user.alerts == True %}
                        <br>
                        <h4>Подписка на оповещения: <b>все оповещения</b></h4>
                        <br><br><td class="text-center"><a class="nav-link" href="{{ url_for('change_subscription_status', user_id=user.id) }}"><button type="button" class="btn btn-block btn-danger">Оставить подписку только на критичные оповещения</button></a></td>
                    {% else %}
                        <h4>Подписка на оповещения: <b>только критичные оповещения</b></h4>
                        <br><br><td class="text-center"><a class="nav-link" href="{{ url_for('change_subscription_status', user_id=user.id) }}"><button type="button" class="btn btn-block btn-success">Включить подписку на все оповещения</button></a></td>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}